<side class="sidebar">
    <header class="">
        <div class="sidebar-title"><%-config.title-%></div>
        <div class="icons">
            <i class="iconfont icon-github"></i>
        </div>
    </header>
    <ul class="menus">
    <% for(let i=0;i<theme.menus.length;i++) { %>
        <li class="menu <%theme.menus[i].value===path%>" title="<%-theme.menus[i].name-%>">
            <i class="icon <%=theme.menus[i].icon%>"></i><span class="menu-name"><%=theme.menus[i].name%></span>
        </li>  
    <%}%>
    </ul>
    <div class="avatar-container">
        <div class="avatar">
            <img class="inner" src="<%-theme.avatar-%>" alt="">
        </div>
    </div>
</side>