<%-css('vue')-%>
<%-css('hljs-theme/github-gist')-%>
<%-css('style/index')-%>

<%-partial('components/sidebar')-%>

<div class="content-thumb">
    <!-- <div class="tabs">
        <div class="slide">
            <% theme.tabs.forEach(tab=>{%>
            <div class="tab active">
                <%-tab.label-%>
            </div>
            <%})%>
        </div>
    </div> -->
    <%-partial('components/list')-%>
</div>

<%-partial('components/content')-%>

<!-- <%-js('js/initTabs')-%> -->